apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-api
  namespace: agro-iot
spec:
  replicas: 2
  selector:
    matchLabels:
      app: users-api
  template:
    metadata:
      labels:
        app: users-api
    spec:
      containers:
        - name: users
          image: users:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
          env:
            - name: ConnectionStrings__DbConnection
              valueFrom:
                secretKeyRef:
                  name: agro-secrets
                  key: ConnectionStrings__DbConnection
            - name: ConnectionStrings__RabbitMQ
              valueFrom:
                secretKeyRef:
                  name: agro-secrets
                  key: ConnectionStrings__RabbitMQ
            - name: RabbitMQ__Host
              valueFrom:
                secretKeyRef:
                  name: agro-secrets
                  key: RabbitMQ__Host
            - name: RabbitMQ__User
              valueFrom:
                secretKeyRef:
                  name: agro-secrets
                  key: RabbitMQ__User
            - name: RabbitMQ__Password
              valueFrom:
                secretKeyRef:
                  name: agro-secrets
                  key: RabbitMQ__Password
            - name: Jwt__Key
              valueFrom:
                secretKeyRef:
                  name: agro-secrets
                  key: Jwt__Key

            - name: Jwt__Issuer
              valueFrom:
                secretKeyRef:
                  name: agro-secrets
                  key: Jwt__Issuer

            - name: Jwt__Audience
              valueFrom:
                secretKeyRef:
                  name: agro-secrets
                  key: Jwt__Audience
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health/live
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
          startupProbe:
            httpGet:
              path: /health/live
              port: 8080
            failureThreshold: 30
            periodSeconds: 5